<!-- fav product -->
<div class="pull-right">
<% if spree_user_signed_in? && spree_current_user.has_favorite_product?(@product.id) %>
    <%= link_to  favorite_product_path(:id => @product.id), :method => :delete, :remote => true, :class => 'favorite_link', :id => @product.id do %>
    <i class="fa fa-heart" aria-hidden="true"></i>
    <% end %>
<% else %>
    <%= link_to  favorite_products_path(:id => @product.id), :method => :post, :remote => spree_user_signed_in?, :class => 'favorite_link', :id => @product.id  do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <%end%>
<% end %>
</div>
<%= link_to(url,itemprop: "photos")   do %>

  <% if product.has_variants? & false %>
    <ul>
      <% product.variant_images.each_with_index do |i,indexx| %>
      <% next if product.images.include?(i) %>

      <li  class='vtmb tmb-<%= i.viewable.id %>' style='display:<%= indexx ==1 ? 'block': 'none'%>' >
        <%= image_tag(i.attachment.url, class: "product-item") %> 
      </li>
      <% end %>
    </ul>
    <%else%>
    <ul>
     <li>
      <%= large_image(product, itemprop: "image", class: "product-item rounded mx-auto d-block") %>
    </li>
    </ul>
  <%end%>

  <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', title: product.name) %>
<% end %>