<%= link_to(url) do %>
                
                  <% if product.has_variants? %>
                  <ul>
                    <% product.variant_images.each_with_index do |i,indexx| %>
                      <% next if product.images.include?(i) %>

                      <li  class='vtmb tmb-<%= i.viewable.id %>' style='display:<%= indexx ==1 ? 'block': 'none'%>' >
                        <%= image_tag(i.attachment.url, class: "product-item") %> 
                      </li>
                    <% end %>
                    </ul>
                  <%else%>
                  <ul>
                   <li>
                    <%= product_image(product, itemprop: "image", class: "product-item") %>
                    </li>
                    </ul>
                  <%end%>
                
                <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', title: product.name) %>
              <% end %>